# Project Identification
sonar.projectKey=
sonar.projectName=
sonar.projectVersion=1.0

# Authentication
sonar.host.url=http://localhost:9000
sonar.login=

# Source Code Configuration
sonar.sources=app,resources/views
sonar.tests=tests
sonar.sourceEncoding=UTF-8

# Exclusions
sonar.exclusions=vendor/**,node_modules/**,storage/**,public/**,bootstrap/**,resources/views/errors/**

# PHP Configuration
sonar.php.file.suffixes=php
sonar.php.coverage.reportPaths=tests/reports/coverage.xml
sonar.php.tests.reportPath=tests/reports/phpunit.xml

# Test Configuration
sonar.test.inclusions=tests/**/*Test.php
